* {
   
}
body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0px;
}

header {
    position: fixed;
    border-bottom: 1px solid seashell;
    display: flex;
    height: 69px;
    width: 100%;
    align-items: center;
    background-color: black;
    z-index: 1;
}

header img {
    height: 50px;
    margin-left: 10px;
}

nav {
    width: 100%;
    text-align: right;
    margin-right: 10px;
}

a {
    color: seashell;
}

#mission-statement, #tea-of-the-month {
    display: flex;
    padding-top: 70px;
    width: 100%;
    justify-content: center;
}

#mission-statement .content-box {
    display: flex;
    width: 1200px;
    height: 700px;
    background-image: url("../images/img-mission-background.jpg");
    align-items: center;
}

#mission-statement span {
    background-color: black;
    width: 100%;
}

#tea-of-the-month .content-box {
    display: flex;
    width: 1000px;
    justify-content: space-between;
}

.image-box {
    height: 250px;
    width: 320px;
    display: inline-block;
}

.fall-berry, .spiced-rum, .donut, .myrtle-ave, .bedford-bizarre {
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 300px;    
}

.fall-berry {
    background-image: url("../images/img-berryblitz.jpg");
}

.spiced-rum {
    background-image: url("../images/img-spiced-rum.jpg");
}

.donut {
    background-image: url("../images/img-donut.jpg");
}

.myrtle-ave {
    background-image: url("../images/img-myrtle-ave.jpg");
}

.bedford-bizarre {
    background-image: url("../images/img-bedford-bizarre.jpg");
}

.image-box h4 {
    margin-top: 10px;
}

#locations {
    display: inline-flex;
    justify-content: center;
    background-image: url("../images/img-locations-background.jpg");
    width: 1200px;
    height: 600px;
    margin-top: 70px;
}

.location-container {
    align-self: center;
    position: relative;
    bottom: 30px;
}

#info-boxes {
    display: inline-flex;
    align-self: center;
}

.info-box {
    position: relative;
    bottom: 15px;
    height: 250px;
    width: 300px;
    background-color: black;
    margin: 20px;
}

#contact {
    height: 200px;
}

#contact h2{
    margin-top: 10px;
    padding-bottom: 10px;
}
footer {
    padding: 0px;
    text-align: left;
    margin: 0px 20px;
}